<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="form-group">
      <label for="registro">Registros por Página</label>
      <ng-select id="registro" [(ngModel)]="filtro.pageSize" [searchable]="false" [multiple]="false" [clearable]="false"
        (change)="onChangePageSize()">
        <ng-option [value]=5>5</ng-option>
        <ng-option [value]=10>10</ng-option>
        <ng-option [value]=20>20</ng-option>
        <ng-option [value]=50>50</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align: center;">
    <pagination (pageChanged)="onChangePage($event.page - 1)" [boundaryLinks]="true" [(ngModel)]="filtro.currentPage"
      [totalItems]="dados.totalElements" [maxSize]="8" [itemsPerPage]="filtro.pageSize" previousText="&lsaquo;"
      nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="text-align: right;">
    <label for="registro">Total de registros: {{ dados.totalElements }}</label>
  </div>
</div>