<form [formGroup]="form">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Buscar Pacotes</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label for="categoriaAtendimento">Categoria de Atendimento</label>
                <ng-select id="categoriaAtendimento" maxlength="50" formControlName="categoriaAtendimentoId"
                  [items]="categoriasAtendimento" bindLabel="descricao" bindValue="id">
                </ng-select>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label for="dataInicio">Data Início</label>
                <input id="dataInicio" type="text" [validation]="false" mask="00/00/0000" formControlName="dataInicio"
                  class="form-control" />
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label for="dataFim">Data Fim</label>
                <input id="dataFim" type="text" [validation]="false" mask="00/00/0000" formControlName="dataFim"
                  class="form-control" />
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <label for="aberto">Status do Pacote</label>
                <ng-select id="aberto" maxlength="50" formControlName="aberto">
                  <ng-option [value]=true>Em Aberto</ng-option>
                  <ng-option [value]=false>Encerrado</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="form-group">
                <label for="paciente">Paciente</label>
                <ng-select id="paciente" maxlength="50" formControlName="pacienteId" [items]="pacientes"
                  bindLabel="nomeCompleto" bindValue="id">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.nomeCompleto }}
                    <br />
                    <small>{{ item.cpf | cpf }}</small>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div *ngIf="authGuardService.isPermitido(permissaoAdministrador)"
              class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="form-group">
                <label for="usuario">Usuário</label>
                <ng-select id="usuario" maxlength="50" formControlName="usuarioId" [items]="usuarios"
                  bindLabel="nomeCompleto" bindValue="id">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.nomeCompleto }}
                    <br />
                    <small>{{ item.cpf | cpf }}</small>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button (click)="onClickFormSubmit()" class="btn btn-primary pull-right" style="margin-left: 15px;"><em
              class="fa fa-search"></em>&nbsp;Buscar</button>
          <button class="btn btn-warning pull-right" (click)="onClickLimparCampos()"><em
              class="fa fa-eraser"></em>&nbsp;Limpar</button>
        </div>
      </div>

      <div *ngIf="dados?.content?.length > 0" class="col-md-12" style="padding: 0px">
        <div class="box box-primary">
          <div class="box-header">
            <div class="row">
              <div class="col-xs-8">
                <h3 class="box-title">Pacotes</h3>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="table-roll">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Opções</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('valor')"><em
                        [class]="getIconOrderBy('valor')"></em>&nbsp;Valor do Pacote</th>
                    <th style="cursor: pointer" xxxx (click)="onClickOrderBy('totalPago')"><em
                        [class]="getIconOrderBy('totalPago')"></em>&nbsp;Total Pago</th>
                    <th>Total à Pagar</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('paciente.nomeCompleto')"><em
                        [class]="getIconOrderBy('paciente.nomeCompleto')"></em>&nbsp;Paciente</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('usuario.nomeCompleto')"><em
                        [class]="getIconOrderBy('usuario.nomeCompleto')"></em>&nbsp;Usuário</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('dataCriacao')"><em
                        [class]="getIconOrderBy('dataCriacao')"></em>&nbsp;Data Criação</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('categoriaAtendimento.descricao')"><em
                        [class]="getIconOrderBy('categoriaAtendimento.descricao')"></em>&nbsp;Categoria
                      de Atendimento</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('numero')"><em
                        [class]="getIconOrderBy('numero')"></em>&nbsp;Número</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('aberto')"><em
                        [class]="getIconOrderBy('aberto')"></em>&nbsp;Status</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('quantidadeAtendimentos')"><em
                        [class]="getIconOrderBy('quantidadeAtendimentos')"></em>&nbsp;Quantidade de Atendimentos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pacote of dados?.content">
                    <td>
                      <button title="Gerenciar Lançamentos"
                        (click)="onClickOpenModalGerenciarLancamentos(pacote.id)" class="btn btn-success"><em
                          class="fa fa-usd"></em></button>
                    </td>
                    <td>
                      {{ pacote.valor || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                    </td>
                    <td>
                      {{ pacote.totalPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                    </td>
                    <td>
                      {{ pacote.valor - pacote.totalPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                    </td>
                    <td>
                      {{ pacote.pacienteNomeCompleto }}
                    </td>
                    <td>
                      {{ pacote.usuarioNomeCompleto }}
                    </td>
                    <td>
                      {{ pacote.dataCriacao | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>
                      {{ pacote.categoriaAtendimentoDescricao }}
                    </td>
                    <td>
                      {{ pacote.numero }}
                    </td>
                    <td>
                      {{ pacote.aberto ? 'Em Aberto' : 'Encerrado' }}
                    </td>
                    <td>
                      {{ pacote.quantidadeAtendimentos }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-footer">
            <app-page-action [dados]="dados" [filtro]="filtro" (searchByFilter)="searchByFilter()">
            </app-page-action>
          </div>
        </div>
      </div>
      <app-no-records *ngIf="showNoRecords && !dados.content?.length"></app-no-records>
    </div>
  </div>
</form>