<section class="content content-modal">
  <div class="modal-header" style="padding-top: 0px; padding-bottom: 15px;">
    <button style="margin-right: -15px;" class="btn btn-danger pull-right" (click)="onClickCloseModal()"><em
        class="fa fa-close"></em>&nbsp;Fechar</button>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="box-title">Dados do Atendimento</h3>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class="form-group">
            <label>Paciente</label>
            <p>{{ atendimento.pacienteNomeCompleto }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <div class="form-group">
            <label>Usuário</label>
            <p>{{ atendimento.usuarioNomeCompleto }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <div class="form-group">
            <label>Duração</label>
            <p>{{ calcularTempo(atendimento.preAtendimentoData, atendimento?.posAtendimentoData) }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Categoria de Atendimento</label>
            <p>{{ atendimento.categoriaAtendimentoDescricao }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Tipo de Atendimento</label>
            <p>{{ atendimento.tipoAtendimentoDescricao }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <div class="form-group">
            <label>Número</label>
            <p>{{ atendimento.numero }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <div class="form-group">
            <label>Status</label>
            <p>{{ atendimento.aberto ? 'Em Aberto' : 'Encerrado' }}</p>
          </div>
        </div>
      </div>
      <ng-container *ngIf="isFisioterapia() || isDrenagem()">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label>Conduta</label>
              <p>{{ atendimento.conduta || '-' }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <app-dados-pacote *ngIf="pacote" [pacote]="pacote"></app-dados-pacote>

  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="box-title">Dados do Pré-atendimento</h3>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Data e Hora</label>
            <p>{{ atendimento.preAtendimentoData | date: 'dd/MM/yyyy HH:mm' }}</p>
          </div>
        </div>

        <ng-container *ngIf="isDrenagem() || isFisioterapia()">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Pressão Arterial</label>
              <p>{{ atendimento.preAtendimentoPressaoArterial || '-' }}</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="isDrenagem()">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Peso</label>
              <p>{{ formatKG(atendimento.preAtendimentoPeso) }}</p>
            </div>
          </div>
        </ng-container>

      </div>
      <ng-container *ngIf="isDrenagem()">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Supra Umbilical</label>
              <p>{{ formatCM(atendimento.preAtendimentoSupraUmbilical) }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Linha Umbilical</label>
              <p>{{ formatCM(atendimento.preAtendimentoLinhaUmbilical) }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Infra Umbilical</label>
              <p>{{ formatCM(atendimento.preAtendimentoInfraUmbilical) }}</p>
            </div>
          </div>
        </div>
        <ng-container *ngIf="atendimento?.preAtendimentoOutrasMedidas?.length">
          <legend class="legend-default">Outras Medidas</legend>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
              *ngFor="let medida of atendimento?.preAtendimentoOutrasMedidas; let i = index">
              <div class="form-group">
                <label for="outraMedidaPre{{ i }}">{{ medida.outraMedidaDescricao }}</label>
                <p id="outraMedidaPre{{ i }}">{{ formatCM(medida.valor) }}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <legend class="legend-default"></legend>
      </ng-container>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label>Observacão</label>
            <p>{{ atendimento.preAtendimentoObservacao || '-' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!atendimento.aberto" class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="box-title">Dados do Pós-atendimento</h3>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Data e Hora</label>
            <p>{{ atendimento.posAtendimentoData | date: 'dd/MM/yyyy HH:mm' }}</p>
          </div>
        </div>
        <ng-container *ngIf="isDrenagem() || isFisioterapia()">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Pressão Arterial</label>
              <p>{{ atendimento.posAtendimentoPressaoArterial || '-' }}</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isDrenagem()">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Peso</label>
              <p>{{ formatKG(atendimento.posAtendimentoPeso) }}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="isDrenagem()">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Supra Umbilical</label>
              <p>{{ formatCM(atendimento.posAtendimentoSupraUmbilical) }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Linha Umbilical</label>
              <p>{{ formatCM(atendimento.posAtendimentoLinhaUmbilical) }}</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
              <label>Infra Umbilical</label>
              <p>{{ formatCM(atendimento.posAtendimentoInfraUmbilical) }}</p>
            </div>
          </div>
        </div>
        <ng-container *ngIf="atendimento?.posAtendimentoOutrasMedidas?.length">
          <legend class="legend-default">Outras Medidas</legend>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
              *ngFor="let medida of atendimento?.posAtendimentoOutrasMedidas; let i = index">
              <div class="form-group">
                <label for="outraMedidaPos{{ i }}">{{ medida.outraMedidaDescricao }}</label>
                <p id="outraMedidaPos{{ i }}">{{ formatCM(medida.valor) }}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <legend class="legend-default"></legend>
      </ng-container>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label>Observacão</label>
            <p>{{ atendimento.posAtendimentoObservacao || '-' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!atendimento.aberto && isDrenagem()" class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Resultados</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Peso</label>
            <p>{{ calcularKG(atendimento?.preAtendimentoPeso, atendimento?.posAtendimentoPeso) }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Supra Umbilical</label>
            <p>{{ calcularCM(atendimento?.preAtendimentoSupraUmbilical, atendimento?.posAtendimentoSupraUmbilical) }}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Linha Umbilical</label>
            <p>{{ calcularCM(atendimento?.preAtendimentoLinhaUmbilical, atendimento?.posAtendimentoLinhaUmbilical) }}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Infra Umbilical</label>
            <p>{{ calcularCM(atendimento?.preAtendimentoInfraUmbilical, atendimento?.posAtendimentoInfraUmbilical) }}
            </p>
          </div>
        </div>
      </div>
      <ng-container *ngIf="atendimento?.preAtendimentoOutrasMedidas?.length; else hiddenOM">
        <legend class="legend-default">Outras Medidas</legend>
        <div class="row">
          <div *ngFor="let medida of atendimento?.preAtendimentoOutrasMedidas; let i = index;"
            class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group">
              <label>{{ medida.outraMedidaDescricao }}</label>
              <p>{{ calcularCM(medida.valor, atendimento?.posAtendimentoOutrasMedidas[i].valor) }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="atendimento?.imagens?.length" class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Imagens</h3>
    </div>
    <div class="box-body">
      <ng-container *ngFor="let imagem of atendimento?.imagens; let last = last;">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group" style="text-align: end;">
              <button title="Baixar Imagem" (click)="onClickDownloadImage(imagem.id)" class="btn btn-primary"><em
                  class="fa fa-cloud-download"></em></button>
            </div>
            <div class="form-group">
              <a title="{{ imagem.nome }}">{{ imagem.nome }}</a>
            </div>
            <div class="form-group">
              <img [src]="imagem.imagem" alt="Imagem do Atendimento" style="width: 100%;">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label>Observação</label>
              <p>{{ imagem.observacao || '-' }}</p>
            </div>
          </div>
        </div>
        <legend *ngIf="!last" class="legend-default"></legend>
      </ng-container>
    </div>
  </div>
</section>