<section class="content-header">
  <h1>Buscar Exames</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>
        <div class="box-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" placeholder="Selecione" formControlName="pacienteId" [items]="pacientes"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="categoriaExame">Categoria de Exame</label>
                  <ng-select id="categoriaExame" formControlName="categoriaExameId" [items]="categoriasExame"
                    bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="dataInicio">Data Início</label>
                  <input id="dataInicio" type="text" [validation]="false" mask="00/00/0000" formControlName="dataInicio"
                    class="form-control" />
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="dataFim">Data Fim</label>
                  <input id="dataFim" type="text" [validation]="false" mask="00/00/0000" formControlName="dataFim"
                    class="form-control" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <button (click)="onClickFormSubmit()" class="btn btn-primary pull-right" style="margin-left: 15px;"><em
              class="fa fa-search"></em>&nbsp;Buscar</button>
          <button class="btn btn-warning pull-right" (click)="onClickLimparCampos()"><em
              class="fa fa-eraser"></em>&nbsp;Limpar</button>
        </div>
      </div>
      <div *ngIf="dados?.content?.length > 0" class="col-md-12" style="padding: 0px">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-xs-2">
                <h3 class="box-title">Resultado</h3>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="table-roll">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Opções</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('paciente.nomeCompleto')"><em
                        [class]="getIconOrderBy('paciente.nomeCompleto')"></em>&nbsp;Paciente</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('categoriaExame.descricao')"><em
                        [class]="getIconOrderBy('categoriaExame.descricao')"></em>&nbsp;Categoria de Exame</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('data')"><em
                        [class]="getIconOrderBy('data')"></em>&nbsp;Data</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('observacao')"><em
                        [class]="getIconOrderBy('observacao')"></em>&nbsp;Observação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exame of dados.content">
                    <td>
                      <button title="Editar" [routerLink]="['/exame-form', exame.id]" class="btn btn-primary"><em
                          class="fa fa-pencil"></em></button>
                      <button title="Visualizar" (click)="onClickOpenModalVisualizar(exame.id)"
                        class="btn btn-primary btn-left"><em class="fa fa-eye"></em></button>
                      <button title="Excluir" (click)="onClickExcluir(exame.id)" class="btn btn-danger btn-left"><em
                          class="fa fa-trash"></em></button>
                    </td>
                    <td>
                      {{ exame.pacienteNomeCompleto }}
                    </td>
                    <td>
                      {{ exame.categoriaExameDescricao }}
                    </td>
                    <td>
                      {{ exame.data | date: 'dd/MM/yyyy' }}
                    </td>
                    <td style=" white-space: pre-wrap;">
                      {{ formatarObservacao(exame.observacao)   }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-footer">
            <app-page-action [dados]="dados" [filtro]="filtro" (searchByFilter)="searchByFilter()">
            </app-page-action>
          </div>
        </div>
      </div>
      <app-no-records *ngIf="showNoRecords && !dados.content?.length"></app-no-records>
    </div>
  </div>
</section>
