<section class="content content-modal">
  <div class="modal-header" style="padding-top: 0px; padding-bottom: 15px;">
    <button style="margin-right: -15px;" class="btn btn-danger pull-right" (click)="onClickCloseModal()"><em
        class="fa fa-close"></em>&nbsp;Fechar</button>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="box-title">Dados do Exame</h3>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <div class="form-group">
            <label>Paciente</label>
            <p>{{ dados.pacienteNomeCompleto }}</p>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label>Categoria de Exame</label>
            <p>{{ dados.categoriaExameDescricao }}</p>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Data de Realização</label>
            <p>{{ dados.data | date : 'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label>Observação</label>
            <p>{{ dados.observacao || '-' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="dados?.anexos?.length" class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Anexos</h3>
    </div>
    <div class="box-body">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let anexo of dados?.anexos; let i = index">
        <div class="form-group">
          <a>{{ anexo.nome }}</a>
          <button title="Baixar Anexo" (click)="onClickDownloadFile(anexo.id)" style="margin-left: 5px;"
            class="btn btn-primary"><em class="fa fa-cloud-download"></em></button>
        </div>
        <div class="form-group">
          <label for="observacaoAnexo{{ i }}">Observacão</label>
          <p id="observacaoAnexo{{ i }}">{{ anexo.observacao || '-' }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
