<section class="content-header">
  <h1>{{ form.value.id ? 'Editar' : 'Cadastar' }} Exame</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Dados do Exame</h3>
          <div class="box-body">
          </div>
          <form [formGroup]="form">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" placeholder="Selecione" formControlName="pacienteId" [items]="pacientes"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('pacienteId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="categoriaExame">Categoria de Exame</label>
                  <ng-select id="categoriaExame" placeholder="Selecione" formControlName="categoriaExameId"
                    [items]="categoriasExame" bindLabel="descricao" bindValue="id">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('categoriaExameId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="data">Data de Realização</label>
                  <input id="data" type="text" [validation]="false" mask="00/00/0000" formControlName="data"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('data')">
                  </app-message-required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="observacao">Observação</label>
                  <textarea trim="blur" style="resize: none" id="observacao" maxlength="1000" type="text" rows="8"
                    formControlName="observacao" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <legend class="legend-default">Anexos</legend>
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="form-group">
                  <div class="fileUpload btn btn-primary">
                    <span><em class="fa fa-plus"></em>&nbsp;Adicionar Anexos</span>
                    <input title="Adicionar Anexos" #inputAnexo id="anexo" type="file" multiple class="upload"
                      (change)="onChangeAnexo($event.target.files)" (click)="inputAnexo.value=null" />
                  </div>
                </div>
              </div>
            </div>
            <legend *ngIf="form.controls.anexos.value.length" class="legend-default"></legend>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
                *ngFor="let anexo of form.controls.anexos.value; let i = index">
                <div class="form-group" style="text-align: end;">
                  <button title="Baixar Anexo" (click)="onClickDownloadFile(anexo.index)" style="margin-left: 5px;"
                    class="btn btn-primary"><em class="fa fa-cloud-download"></em></button>
                  <button title="Excluir Anexo" (click)="onClickRemoverAnexo(anexo.index)" style="margin-left: 5px;"
                    class="btn btn-danger"><em class="fa fa-close"></em></button>
                </div>
                <div class="form-group">
                  <a>{{ anexo.nome }}</a>
                </div>
                <div class="form-group">
                  <label for="observacaoAnexo{{ i }}">Observacão</label>
                  <textarea trim="blur" style="resize: none;" id="observacaoAnexo{{ i }}" [(ngModel)]="anexo.observacao"
                    [ngModelOptions]="{standalone: true}" maxlength="200" type="text" rows="4"
                    class="form-control"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary pull-right" style="margin-left: 15px;" (click)="onClickFormSubmit()"><em
              class="fa fa-save"></em>&nbsp;Salvar</button>
          <button class="btn btn-danger pull-right" (click)="onClickCancelar()"><em
              class="fa fa-ban"></em>&nbsp;Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>
