<section class="content-header">
  <h1>{{ form.value.id ? 'Editar' : 'Cadastar' }} Agenda</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Dados da Agenda</h3>
        </div>
        <div class="box-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="diaSemana">Dia da Semana</label>
                  <ng-select id="diaSemana" placeholder="Selecione" formControlName="diaSemanaId" [items]="diasSemana"
                    bindLabel="descricao" bindValue="id">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('diaSemanaId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="horarioInicio">Horário Inicial</label>
                  <input [dropSpecialCharacters]="false" [validation]="false" mask="00:00" id="horarioInicio"
                    maxlength="5" type="text" formControlName="horarioInicio" class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('horarioInicio')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="horarioFim">Horário Final</label>
                  <input [dropSpecialCharacters]="false" [validation]="false" mask="00:00" id="horarioFim" maxlength="5"
                    type="text" formControlName="horarioFim" class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('horarioFim')">
                  </app-message-required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" placeholder="Selecione" formControlName="pacienteId" [items]="pacientes"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('pacienteId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="tipoAtendimento">Tipo de Atendimento</label>
                  <ng-select id="tipoAtendimento" placeholder="Selecione" formControlName="tipoAtendimentoId"
                    [items]="tiposAtendimento" bindLabel="descricao" bindValue="id">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('tipoAtendimentoId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="categoriaAtendimento">Categoria de Atendimento</label>
                  <ng-select id="categoriaAtendimento" placeholder="Selecione" formControlName="categoriaAtendimentoId"
                    [items]="categoriasAtendimento" bindLabel="descricao" bindValue="id">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('categoriaAtendimentoId')">
                  </app-message-required>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary pull-right" style="margin-left: 15px;" (click)="onClickFormSubmit()"><em
              class="fa fa-save"></em>&nbsp;Salvar</button>
          <button class="btn btn-danger pull-right" (click)="onClickCancel()"><em
              class="fa fa-ban"></em>&nbsp;Cancelar</button>
        </div>
      </div>
      <div>
        <tabset>
          <tab *ngFor="let item of tabset" heading="{{ item.titulo }}" id="tab1">
            <app-agenda-resultado [dados]="getDados(item.diaSemanaId)" [form]="form"
              (editEmitter)="onClickEditar($event.id)" (removeEmitter)="onClickExcluir($event)"></app-agenda-resultado>
          </tab>
        </tabset>
      </div>

    </div>
  </div>
</section>
