<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Acesso Negado</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row" style="text-align: center;">
                <img src="../../../assets/img/acesso-negado.png" width="30%" height="30%" alt="Acesso Negado">
              </div>
              <div class="row" style="text-align: center;">
                <h4>Você não possui permissão para acessar essa funcionalidade.</h4>
                <h4>Contate o administrador do sistema informando o ocorrido.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
