<section class="content-header">
  <h1>Buscar Lançamentos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>
        <div class="box-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="tipoLancamento">Tipo de Lançamento</label>
                  <ng-select id="tipoLancamento" formControlName="tipoLancamentoId" [items]="tiposLancamento"
                    bindLabel="descricao" bindValue="id" (change)="onChangeTipoLancamento()">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isEntrada">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="tipoAtendimento">Tipo de Atendimento</label>
                  <ng-select id="tipoAtendimento" formControlName="tipoAtendimentoId" [items]="tiposAtendimento"
                    bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="categoriaAtendimento">Categoria de Atendimento</label>
                  <ng-select id="categoriaAtendimento" formControlName="categoriaAtendimentoId"
                    [items]="categoriasAtendimento" bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" formControlName="pacienteId" [items]="pacientes" bindLabel="nomeCompleto"
                    bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{item.nomeCompleto}}
                      <br />
                      <small>CPF: {{item.cpf | cpf}}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                  <label for="formaPagamento">Forma de Pagamento</label>
                  <ng-select id="formaPagamento" formControlName="formaPagamentoId" [items]="formasPagamento"
                    bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2">
                <div class="form-group">
                  <label for="dataInicio">Data Inicial</label>
                  <input [readonly]="mesAno" id="dataInicio" type="text" [validation]="false" mask="d0/M0/0000"
                    formControlName="dataInicio" class="form-control" />
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-4 col-lg-2">
                <div class="form-group">
                  <label for="dataFim">Data Fim</label>
                  <input [readonly]="mesAno" id="dataFim" type="text" [validation]="false" mask="d0/M0/0000"
                    formControlName="dataFim" class="form-control" />
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="mesAno">Mês/Ano</label>
                  <ng-select id="mesAno" [items]="mesAnoList" bindLabel="descricao"
                    (change)="onChangeComboMesAno($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="mesAno">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                  <label for="usuario">Usuário</label>
                  <ng-select id="usuario" maxlength="50" formControlName="usuarioId" [items]="usuarios"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div *ngIf="isSaida" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="categoriaLancamento">Categoria de Lançamento</label>
                  <ng-select id="categoriaLancamento" formControlName="categoriaLancamentoId"
                    [items]="categoriasLancamento" bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <button (click)="onClickFormSubmit()" class="btn btn-primary pull-right" style="margin-left: 15px;"><em
              class="fa fa-search"></em>&nbsp;Buscar</button>
          <button class="btn btn-warning pull-right" (click)="onClickLimparCampos()"><em
              class="fa fa-eraser"></em>&nbsp;Limpar</button>
        </div>
      </div>
      <div *ngIf="dados?.content?.length > 0" class="col-md-12" style="padding: 0px">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-xs-8">
                <h3 class="box-title">Resultado</h3>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="totalEntrada">Total de Entrada</label>
                  <p id="totalEntrada">{{ lancamentoTotal.entrada | currency:'BRL':'symbol':'0.2-2':'pt' }}</p>
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="totalSaida">Total de Saída</label>
                  <p id="totalSaida">{{ lancamentoTotal.saida | currency:'BRL':'symbol':'0.2-2':'pt' }}</p>
                </div>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="totalGeral">Total Geral</label>
                  <p [ngStyle]="{'color': lancamentoTotal.total < 0 ? 'red' : 'green' , 'font-weight': 'bold'}"
                    id="totalGeral">
                    {{ lancamentoTotal.total | currency:'BRL':'symbol':'0.2-2':'pt' }}</p>
                </div>
              </div>
            </div>
            <div class="table-roll">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Opções</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('pac.nomeCompleto')"><em
                        [class]="getIconOrderBy('pac.nomeCompleto')"></em>&nbsp;Paciente</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('usuario.nomeCompleto')"><em
                        [class]="getIconOrderBy('usuario.nomeCompleto')"></em>&nbsp;Usuário</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('data')"><em
                        [class]="getIconOrderBy('data')"></em>&nbsp;Data</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('valor')"><em
                        [class]="getIconOrderBy('valor')"></em>&nbsp;Valor</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('formaPagamento.descricao')"><em
                        [class]="getIconOrderBy('formaPagamento.descricao')"></em>&nbsp;Forma de
                      Pagamento</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('tipoLancamento.descricao')"><em
                        [class]="getIconOrderBy('tipoLancamento.descricao')"></em>&nbsp;Tipo de
                      Lançamento</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('categoriaLancamento.descricao')"><em
                        [class]="getIconOrderBy('categoriaLancamento.descricao')"></em>&nbsp;Categoria de
                      Lançamento</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('tipoAtendimento.descricao')"><em
                        [class]="getIconOrderBy('tipoAtendimento.descricao')"></em>&nbsp;Tipo de
                      Atendimento</th>
                    <th style="cursor: pointer" (click)="onClickOrderBy('ca.descricao')"><em
                        [class]="getIconOrderBy('ca.descricao')"></em>&nbsp;Categoria de Atendimento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lancamento of dados.content">
                    <td>
                      <ng-container *ngIf="showEditButton(lancamento.tipoLancamentoId); else elseSaida">
                        <button title="Editar" (click)="onClickEditar(lancamento.id)" class="btn btn-primary"><em
                            class="fa fa-pencil"></em></button>
                      </ng-container>
                      <ng-template #elseSaida>
                        {{ '-' }}
                      </ng-template>
                    </td>
                    <td>
                      {{ lancamento.atendimentoPacienteNomeCompleto || lancamento.pacotePacienteNomeCompleto || '-' }}
                    </td>
                    <td>{{ lancamento.usuarioNomeCompleto }}</td>
                    <td>{{ lancamento.data | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ lancamento.valor | currency:'BRL':'symbol':'0.2-2':'pt' }}</td>
                    <td>{{ lancamento.formaPagamentoDescricao }}</td>
                    <td>{{ lancamento.tipoLancamentoDescricao }}</td>
                    <td>{{ lancamento?.categoriaLancamentoDescricao || '-' }}</td>
                    <td>{{ lancamento.tipoAtendimentoDescricao || '-' }}</td>
                    <td>
                      {{ lancamento?.atendimentoCategoriaAtendimentoDescricao || lancamento?.pacoteCategoriaAtendimentoDescricao || '-' }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer">
              <app-page-action [dados]="dados" [filtro]="filtro" (searchByFilter)="searchByFilter()">
              </app-page-action>
            </div>
          </div>
        </div>
      </div>
      <app-no-records *ngIf="showNoRecords && !dados.content?.length"></app-no-records>
    </div>
  </div>
</section>
