<section class="content-header">
  <h1>{{ form.controls.id.value ? 'Editar' : 'Cadastar' }} Paciente</h1>
</section>
<section class="content">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Dados Pessoais</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="form-group">
                  <label for="nomeCompleto">Nome Completo</label>
                  <input id="nomeCompleto" trim="blur" maxlength="200" type="text" formControlName="nomeCompleto"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('nomeCompleto')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="dataNascimento">Data de Nascimento</label>
                  <input id="dataNascimento" [validation]="false" mask="00/00/0000" type="text"
                    formControlName="dataNascimento" class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('dataNascimento')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="sexo">Sexo</label>
                  <ng-select id="sexo" maxlength="50" formControlName="sexoId" [items]="sexos" bindLabel="descricao"
                    bindValue="id" placeholder="Selecione">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('sexoId')">
                  </app-message-required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input id="cpf" [validation]="false" mask="000.000.000-00" type="text" formControlName="cpf"
                    class="form-control" [readonly]="isCpfReadonly" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="rg">RG</label>
                  <input id="rg" [validation]="false" upperCase mask="A{15}" type="text" formControlName="rg"
                    class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="profissao">Profissão</label>
                  <ng-select id="profissao" maxlength="50" formControlName="profissaoId" [items]="profissoes"
                    bindLabel="descricao" bindValue="id" placeholder="Selecione">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Dados do Endereço</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="cep">CEP</label>
                  <input id="cep" type="text" [validation]="false" mask="00.000-000" formControlName="enderecoCep"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('enderecoCep')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="logradouro">Logradouro</label>
                  <input id="logradouro" trim="blur" type="text" maxlength="200" formControlName="enderecoLogradouro"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('enderecoLogradouro')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="numero">Número</label>
                  <input id="numero" type="text" mask="0{10}" [validation]="false" formControlName="enderecoNumero"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('enderecoNumero')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="complemento">Complemento</label>
                  <input id="complemento" trim="blur" type="text" maxlength="200" formControlName="enderecoComplemento"
                    class="form-control" />
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <input id="bairro" trim="blur" type="text" maxlength="100" formControlName="enderecoBairro"
                    class="form-control" />
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('enderecoBairro')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="pontoReferencia">Ponto de Referência</label>
                  <input id="pontoReferencia" trim="blur" type="text" maxlength="200"
                    formControlName="enderecoPontoReferencia" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="uf">Estado</label>
                  <ng-select id="uf" maxlength="50" formControlName="enderecoLocalidadeUFId" (change)="onChangeUf(true)"
                    [items]="ufs" bindLabel="descricao" bindValue="id" placeholder="Selecione">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('enderecoLocalidadeUFId')">
                  </app-message-required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="localidade">Cidade</label>
                  <ng-select id="localidade" (click)="onClickLocalidade()" maxlength="50"
                    formControlName="enderecoLocalidadeId" [items]="localidades" bindLabel="descricao" bindValue="id"
                    placeholder="Selecione">
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm"
                    [controlComponent]="form.get('enderecoLocalidadeId')">
                  </app-message-required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Dados do Contato</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="celular">Nº Tel. Celular</label>
                  <input id="celular" [validation]="false" mask="(00) 00000-0000" type="text"
                    formControlName="contatoCelular" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="celularRecado">Nº Tel. Celular Recado</label>
                  <input id="celularRecado" [validation]="false" mask="(00) 00000-0000" type="text"
                    formControlName="contatoCelularRecado" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="residencial">Nº Tel. Residencial</label>
                  <input id="residencial" [validation]="false" mask="(00) 0000-0000" type="text"
                    formControlName="contatoResidencial" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="comercial">Nº Tel. Comercial</label>
                  <input id="comercial" [validation]="false" mask="(00) 0000-0000" type="text"
                    formControlName="contatoComercial" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input id="email" trim="blur" type="text" maxlength="100" formControlName="contatoEmail"
                    class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary">
          <div class="box-footer">
            <button class="btn btn-primary pull-right" style="margin-left: 15px;" (click)="onClickFormSubmit()"><em
                class="fa fa-save"></em>&nbsp;Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>