<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <ul [hidden]="!isCadastroCompleto" class="sidebar-menu" data-widget="tree">
      <li *ngFor="let menu of menus" class="treeview">
        <a style="cursor: pointer;">
          <em class="{{menu.icone}} icon-size icon-item-menu"></em>
          <span>{{menu.descricao}}</span>
          <span class="pull-right-container">
            <em class="fa fa-angle-left pull-right"></em>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let submenu of menu.submenus" (click)="onClickCollapseSidebar()"><a
              [routerLink]="menu.rota + submenu.rota"><em class="{{ submenu.icone }}"></em>{{ submenu.descricao }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>