<section class="content content-modal">
  <div class="modal-header" style="padding-top: 0px; padding-bottom: 15px;">
    <button style="margin-right: -15px;" class="btn btn-danger pull-right" (click)="onClickCloseModal()"><i
        class="fa fa-close"></i>&nbsp;Fechar</button>
  </div>
  <form [formGroup]="form">
    <div class="box box-primary">
      <div class="box-header">
        <div class="row">
          <div class="col-xs-8">
            <h3 class="box-title">Cidades</h3>
          </div>
        </div>
      </div>
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="cursor: pointer" (click)="onClickOrderBy('descricao')">Descrição</th>
              <th style="cursor: pointer" (click)="onClickOrderBy('uf.id')">Estado</th>
              <th>Opção</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let localidade of dados.content">
              <td>
                {{ localidade.descricao }}
              </td>
              <td>
                {{ localidade.uf.descricao }}
              </td>
              <td>
                <button *ngIf="form.value.id !== localidade.id" class="btn btn-primary"
                  (click)="onClickEditar(localidade)"><i class="fa fa-pencil"></i>&nbsp;Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <app-page-action [dados]="dados" [filtro]="filtro" (searchByFilter)="searchByFilter()">
        </app-page-action>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ form.value.id ? 'Alterar' : 'Cadastrar' }}</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="form-group">
              <label for="descricao">* Descrição</label>
              <input id="descricao" trim="blur" maxlength="100" type="text" formControlName="descricao"
                class="form-control" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="form-group">
              <label for="uf">* Estado</label>
              <ng-select id="uf" maxlength="50" formControlName="ufId" [items]="ufs" bindLabel="descricao"
                bindValue="id" placeholder="Selecione">
              </ng-select>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top: 25px;">
            <div class="form-group">
              <button class="btn btn-primary" (click)="onClickFormSubmit()"><i
                  class="fa fa-save"></i>&nbsp;Salvar</button>
              <button class="btn btn-danger" (click)="onClickCancelar()" style="margin-left: 15px;"><i
                  class="fa fa-ban"></i>&nbsp;Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>