<section class="content content-modal">
  <div style="padding-top: 0px; padding-bottom: 35px;">
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">Fechar</span>
    </button>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="box-title">Dados Gerais</h3>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" [value]="filtroControleCaixa?.dados?.paciente?.nome" type="text" class="form-control"
              readonly />
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input id="sobrenome" [value]="filtroControleCaixa?.dados?.paciente?.sobrenome" type="text"
              class="form-control" readonly />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input id="cpf" [value]="filtroControleCaixa?.dados?.paciente?.cpf | cpf" type="text" class="form-control"
              readonly />
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="filtroControleCaixa?.pacote?.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="status">Status</label>
            <input id="status" [value]="filtroControleCaixa?.dados?.status | status" type="text" class="form-control"
              readonly />
          </div>
        </div>
        <div *ngIf="filtroControleCaixa?.pacote?.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="pacote">Número do Pacote</label>
            <input id="pacote" [value]="filtroControleCaixa?.dados?.numero" type="text" class="form-control" readonly />
          </div>
        </div>
        <div *ngIf="filtroControleCaixa?.pacote?.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="sessoes">Quantidade de Sessões</label>
            <input id="sessoes" [value]="filtroControleCaixa?.dados?.atendimentos?.length" type="text"
              class="form-control" readonly />
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="filtroControleCaixa?.pacote?.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="valorPacote">Valor do Pacote</label>
            <input id="valorPacote"
              [value]="filtroControleCaixa?.dados?.valorPacote || 0 | currency:'BRL':'symbol':'0.2-2':'pt'" type="text"
              class="form-control" readonly />
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="valorPago">Valor Total Pago</label>
            <input id="valorPago" [value]="filtroControleCaixa?.valorPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt'"
              type="text" class="form-control" readonly />
          </div>
        </div>
        <div *ngIf="filtroControleCaixa?.pacote?.id" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="form-group">
            <label for="valorPagar">Valor Total à Pagar</label>
            <input id="valorPagar" [value]="filtroControleCaixa?.valorPagar || 0 | currency:'BRL':'symbol':'0.2-2':'pt'"
              type="text" class="form-control" readonly />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="box-title">Lançamentos</h3>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!lancamentoList?.content?.length">
      <div class="box-body">
        <h5>Nenhum pagamento realizado.</h5>
      </div>
    </ng-container>
    <ng-container *ngIf="lancamentoList?.content?.length > 0">
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="cursor: pointer" (click)="onClickOrderBy('data')">Data</th>
              <th style="cursor: pointer" (click)="onClickOrderBy('valor')">Valor</th>
              <th style="cursor: pointer" (click)="onClickOrderBy('formaPagamento')">Forma de Pagamento</th>
              <th style="cursor: pointer" (click)="onClickOrderBy('observacao')">Observação</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lancamento of lancamentoList?.content">
              <td>
                {{ lancamento.data | dataHora : 1 }}
              </td>
              <td>
                {{ lancamento.valor | currency:'BRL':'symbol':'0.2-2':'pt' }}
              </td>
              <td>
                {{ lancamento?.formaPagamento?.descricao }}
              </td>
              <td title="{{ lancamento.observacao }}">
                {{ lancamento.observacao | slice: 0 : 25 }}{{ lancamento?.observacao?.length > 25 ? '...' : '' }}
              </td>
              <td>
                <button class="btn btn-primary" (click)="onClickEditar(lancamento)">Editar</button>
                <button *ngIf="lancamento.id !== form.value.id" class="btn btn-danger btn-left"
                  (click)="onClickRemover(lancamento.id)">Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="col-md-12">
          <div class="col-xs-2">
            <button class="btn btn-primary pull-left" (click)="setPreviousPage($event)">Anterior</button>
          </div>
          <div class="col-xs-8" style="text-align: center">
            <span>{{ showInfo() }}</span>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary pull-right" (click)="setNextPage($event)">Próxima</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{ isEdit ? 'Alterar' : 'Cadastrar' }}</h3>
    </div>
    <div class="box-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="form-group">
              <label for="data">* Data</label>
              <input id="data" mask="00/00/0000" [validation]="false" type="text" formControlName="data"
                class="form-control" (focus)="getDataAtual()" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="form-group">
              <label for="valor">* Valor</label>
              <input id="valor" currencyMask
                [options]="{ align: 'left', suffix: '', prefix: '', thousands: '.', decimal: ',', allowNegative: 'false' }" type="text"
                formControlName="valor" class="form-control" />
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ng-container formGroupName="formaPagamento">
              <div class="form-group">
                <label for="formaPagamento">* Forma de Pagamento</label>
                <ng-select id="formaPagamento" maxlength="20" formControlName="id" [items]="formaPagamentoList"
                  [multiple]="false" bindLabel="descricao" bindValue="id" placeholder="Selecione"
                  notFoundText="Nenhuma registro encontrado.">
                </ng-select>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="observacao">Observação</label>
              <textarea style="resize: none" id="observacao" maxlength="200" type="text" rows="2"
                formControlName="observacao" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="box-footer">
      <button class="btn btn-primary pull-right" (click)="onClickFormSubmit()">Salvar</button>
      <button class="btn btn-default" (click)="onClickCancelar()">Cancelar</button>
    </div>
  </div>
</section>