<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Filtro</h3>
      </div>
      <div class="box-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="dataPreAtendimento">Data e Hora Pré-atendimento</label>
                <input id="dataPreAtendimento" type="text" [validation]="false" mask="00/00/0000 00:00"
                  formControlName="dataHoraPre" class="form-control" />
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="dataPosAtendimento">Data e Hora Pós-atendimento</label>
                <input id="dataPosAtendimento" type="text" [validation]="false" mask="00/00/0000 00:00"
                  formControlName="dataHoraPos" class="form-control" />
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="form-group">
                <label for="status">Status do Atendimento</label>
                <ng-select id="status" maxlength="30" formControlName="status" [multiple]="false"
                  placeholder="Selecione" [searchable]="false" notFoundText="Nenhuma registro encontrado."
                  [clearable]="false">
                  <ng-option value=''>Todos</ng-option>
                  <ng-option value='A'>Em Aberto</ng-option>
                  <ng-option value='E'>Encerrado</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button (click)="onClickFormSubmit()" class="btn btn-info pull-right">Buscar</button>
      </div>
    </div>
    <div *ngIf="atendimentoList?.content?.length > 0" class="col-md-12" style="padding: 0px">
      <div class="box box-primary">
        <div class="box-header">
          <div class="row">
            <div class="col-xs-8">
              <h3 class="box-title">Atendimentos</h3>
            </div>
            <label for="registro">Registros por Página</label>
            <div class="col-xs-2">
              <div class="form-group">
                <select id="registro" class="form-control" (change)="onChangePageSize($event.target.value)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th style="cursor: pointer" (click)="onClickOrderBy('preAtendimento.dataHora')">Data/Hora
                  Pré-atendimento</th>
                <th style="cursor: pointer" (click)="onClickOrderBy('posAtendimento.dataHora')">Data/Hora
                  Pós-atendimento</th>
                <th style="cursor: pointer" (click)="onClickOrderBy('status')">Status</th>
                <th>Opção</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atendimento of atendimentoList?.content">
                <td>
                  {{ atendimento?.paciente.nome }}
                </td>
                <td>
                  {{ atendimento?.paciente.sobrenome }}
                </td>
                <td>
                  {{ atendimento?.preAtendimento?.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }}
                </td>
                <td>
                  {{ atendimento?.posAtendimento?.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }}
                </td>
                <td>
                  {{ atendimento?.status | status }}
                </td>
                <td>
                  <button class="btn btn-primary" (click)="
                                  onClickOpenModalGerenciarLancamento(atendimento)">Gerenciar
                    Pagamentos</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <div class="col-md-12">
            <div class="col-xs-2">
              <button class="btn btn-primary pull-left" (click)="setPreviousPage($event)">Anterior</button>
            </div>
            <div class="col-xs-8" style="text-align: center">
              <span>{{ showInfo() }}</span>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary pull-right" (click)="setNextPage($event)">Próxima</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>