<section class="content-header">
  <h1>Buscar Créditos</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Filtros</h3>
        </div>
        <div class="box-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" placeholder="Selecione" formControlName="pacienteId" [items]="pacientes"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                  <app-message-required [isInvalidForm]="isInvalidForm" [controlComponent]="form.get('pacienteId')">
                  </app-message-required>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="box-footer">
          <button (click)="onClickFormSubmit()" class="btn btn-primary pull-right" style="margin-left: 15px;"><em
              class="fa fa-search"></em>&nbsp;Buscar</button>
          <button class="btn btn-warning pull-right" (click)="onClickLimparCampos()"><em
              class="fa fa-eraser"></em>&nbsp;Limpar</button>
        </div>
      </div>
      <div *ngIf="dados?.length > 0" class="col-md-12" style="padding: 0px">
        <div class="box box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="box-title">Resultado</h3>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                  <label for="saldo">Saldo</label>
                  <p id="saldo">{{ saldo | currency:'BRL':'symbol':'0.2-2':'pt' }}</p>
                </div>
              </div>
            </div>
            <div class="table-roll">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Opção</th>
                    <th>Usuário</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Forma de Pagamento/Tipo de Transação</th>
                    <th>Observação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lancamento of dados" [ngStyle]="getRowStyle(lancamento)">
                    <td class="botao-opcao">
                      <ng-container *ngIf="isAdministrador || lancamento.usuarioId === currentUser.id">
                        <button (click)="onClickEdit(lancamento)" title="Gerenciar Pagamento"
                          class="btn btn-primary"><em class="fa fa-pencil"></em></button>
                        <button *ngIf="showDeleteButton(lancamento)" title="Excluir" class="btn btn-danger"
                          (click)="onClickExcluir(lancamento.id)"><em class="fa fa-trash"></em></button>
                      </ng-container>
                    </td>
                    <td>
                      {{ lancamento.usuarioNomeCompleto }}
                    </td>
                    <td>{{ lancamento.data | date : 'dd/MM/yyyy' }}</td>
                    <td>{{ lancamento.valor | currency:'BRL':'symbol':'0.2-2':'pt' }}</td>
                    <td>{{ lancamento.formaPagamentoDescricao }}</td>
                    <td style=" white-space: pre-wrap;">{{ lancamento.observacao || '-' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <app-no-records *ngIf="showNoRecords && !dados?.length"></app-no-records>
    </div>
  </div>
</section>