<section class="content-header">
  <h1>Buscar Atendimentos de {{ categoriaAtendimentoRouting.descricao }}</h1>
</section>
<section class="content">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Filtros</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                  <label for="tipoAtendimento">Tipo de Atendimento</label>
                  <ng-select id="tipoAtendimento" maxlength="50" formControlName="tipoAtendimentoId"
                    [items]="tiposAtendimento" bindLabel="descricao" bindValue="id">
                  </ng-select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="preAtendimentoData">Data e Hora do Pré-atendimento</label>
                  <input id="preAtendimentoData" [validation]="false" type="text" mask="00/00/0000 00:00"
                    formControlName="preAtendimentoData" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="posAtendimentoData">Data e Hora do Pós-atendimento</label>
                  <input id="posAtendimentoData" [validation]="false" type="text" mask="00/00/0000 00:00"
                    formControlName="posAtendimentoData" class="form-control" />
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label for="aberto">Status do Atendimento</label>
                  <ng-select id="aberto" maxlength="50" formControlName="aberto">
                    <ng-option [value]=true>Em Aberto</ng-option>
                    <ng-option [value]=false>Encerrado</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="paciente">Paciente</label>
                  <ng-select id="paciente" maxlength="50" formControlName="pacienteId" [items]="pacientes"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div *ngIf="authGuardService.isPermitido(permissaoAdministrador)"
                class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                  <label for="usuario">Usuário</label>
                  <ng-select id="usuario" maxlength="50" formControlName="usuarioId" [items]="usuarios"
                    bindLabel="nomeCompleto" bindValue="id">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.nomeCompleto }}
                      <br />
                      <small>CPF: {{ item.cpf | cpf }}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button (click)="onClickFormSubmit()" class="btn btn-primary pull-right" style="margin-left: 15px;"><em
                class="fa fa-search"></em>&nbsp;Buscar</button>
            <button class="btn btn-warning pull-right" (click)="onClickLimparCampos()"><em
                class="fa fa-eraser"></em>&nbsp;Limpar</button>
          </div>
        </div>

        <div *ngIf="dados?.content?.length > 0" class="col-md-12" style="padding: 0px">
          <div class="box box-primary">
            <div class="box-header with-border">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h3 class="box-title">Atendimentos</h3>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="table-roll">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Opções</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('pacote.valor')"><em
                          [class]="getIconOrderBy('pacote.valor')"></em>&nbsp;Valor do Pacote</th>
                      <th>Total Pago</th>
                      <th>Total à Pagar</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('aberto')"><em
                          [class]="getIconOrderBy('aberto')"></em>&nbsp;Status</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('paciente.nomeCompleto')"><em
                          [class]="getIconOrderBy('paciente.nomeCompleto')"></em>&nbsp;Paciente</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('usuario.nomeCompleto')"><em
                          [class]="getIconOrderBy('usuario.nomeCompleto')"></em>&nbsp;Usuário</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('preAtendimento.data')"><em
                          [class]="getIconOrderBy('preAtendimento.data')"></em>&nbsp;Data e Hora do Pré-atendimento</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('posAtendimento.data')"><em
                          [class]="getIconOrderBy('posAtendimento.data')"></em>&nbsp;Data e Hora do Pós-atendimento</th>
                      <th>Tempo de Atendimento</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('tipoAtendimento.descricao')"><em
                          [class]="getIconOrderBy('tipoAtendimento.descricao')"></em>&nbsp;Tipo de
                        Atendimento</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('pacote.numero')"><em
                          [class]="getIconOrderBy('pacote.numero')"></em>&nbsp;Número do Pacote</th>
                      <th style="cursor: pointer" (click)="onClickOrderBy('numero')"><em
                          [class]="getIconOrderBy('numero')"></em>&nbsp;Número da Sessão</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let atendimento of dados?.content">
                      <td>
                        <button title="Editar" (click)="onClickEditar(atendimento.id)" class="btn btn-primary"><em
                            class="fa fa-pencil"></em></button>
                        <button title="Visualizar" (click)="onClickOpenModalVisualizar(atendimento.id)"
                          class="btn btn-primary btn-left"><em class="fa fa-eye"></em></button>
                        <button title="Gerenciar Lançamentos" *ngIf="isSessao(atendimento.tipoAtendimentoId)"
                          (click)="onClickOpenModalGerenciarLancamentoSessao(atendimento.id)"
                          class="btn btn-success btn-left"><em class="fa fa-usd"></em></button>
                        <button title="Gerenciar Lançamentos" *ngIf="isPacote(atendimento.tipoAtendimentoId)"
                          (click)="onClickOpenModalGerenciarLancamentoPacote(atendimento.pacoteId)"
                          class="btn btn-success btn-left"><em class="fa fa-usd"></em></button>
                      </td>
                      <td>
                        {{ atendimento.pacoteValor ? (atendimento.pacoteValor | currency:'BRL':'symbol':'0.2-2':'pt') : '-' }}
                      </td>
                      <td [ngStyle]="{'color': !atendimento.totalPago ? 'red' : 'green', 'font-weight': 'bold'}"
                        *ngIf="isSessao(atendimento.tipoAtendimentoId)">
                        {{ atendimento.totalPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                      </td>
                      <td [ngStyle]="{'color': atendimento.pacoteTotalPago < atendimento.pacoteValor ? 'red' : 'green', 'font-weight': 'bold'}"
                        *ngIf="isPacote(atendimento.tipoAtendimentoId)">
                        {{ atendimento.pacoteTotalPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                      </td>
                      <td *ngIf="isPacote(atendimento.tipoAtendimentoId); else elseTotalPagar">
                        {{ atendimento.pacoteValor - atendimento.pacoteTotalPago || 0 | currency:'BRL':'symbol':'0.2-2':'pt' }}
                      </td>
                      <ng-template #elseTotalPagar>
                        <td>
                          {{ '-' }}
                        </td>
                      </ng-template>
                      <td [ngStyle]="{'color': atendimento.aberto ? 'red' : 'green', 'font-weight': 'bold'}">
                        {{ atendimento.aberto ? 'Em Aberto' : 'Encerrado' }}
                      </td>
                      <td>
                        {{ atendimento.pacienteNomeCompleto }}
                      </td>
                      <td>
                        {{ atendimento.usuarioNomeCompleto }}
                      </td>
                      <td>
                        {{ atendimento.preAtendimentoData | date: 'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td *ngIf="atendimento?.posAtendimentoData">
                        {{ atendimento?.posAtendimentoData | date: 'dd/MM/yyyy HH:mm' }}
                      </td>
                      <td *ngIf="!atendimento?.posAtendimentoData">
                        {{ '-' }}
                      </td>
                      <td>
                        {{ calcularTempo(atendimento.preAtendimentoData, atendimento?.posAtendimentoData) }}
                      </td>
                      <td>
                        {{ atendimento?.tipoAtendimentoDescricao }}
                      </td>
                      <td>
                        {{ atendimento?.pacoteNumero || '-' }}
                      </td>
                      <td>
                        {{ atendimento.numero}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer">
              <app-page-action [dados]="dados" [filtro]="filtro" (searchByFilter)="searchByFilter()">
              </app-page-action>
            </div>
          </div>
        </div>
        <app-no-records *ngIf="showNoRecords && !dados.content?.length"></app-no-records>
      </div>
    </div>
  </form>
</section>
